LOG_DESTINATIONS=file
USE_DOTENV=on
QUEUE_URL=amqp://admin:YOUR_PASSWORD@localhost:5672/
BILLING_QUEUE_NAME=billing_tasks
LOG_DESTINATIONS=file,cloudwatch
DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
REDIS_URL=redis://:YOUR_REDIS_PASSWORD@localhost:6379/0

# container settings

PROXY_HOST=
ARI_HOST=
ARI_URL=http://127.0.0.1:8088/ari
ARI_WSURL=ws://127.0.0.1:8088/ari/events
ARI_USERNAME=
ARI_PASSWORD=
ARI_USE_PROXY=false
NATSGW_URL=nats://nats:4222
AMI_HOST=127.0.0.1
AMI_USER=
AMI_PASS=

BALANCE_CHECK_THROTTLE_DUR=5